<h1><%= current_user.greeting %>, &nbsp; <%= current_user.handle %></h1>
<br />
<br />

<%= form_for @tweet, :html => { :multipart => true } do |f| %>
  <%= f.label :name, "160 Characters, max!" %>
  <%= f.text_field :name %>
 &nbsp;
 &nbsp;
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.submit(:class => "btn btn-danger") %>
<% end %>
<br />
<h3>Select a Follower:</h3>
   <%= form_for @follow, :html => { :multipart => true } do |f| %>
    <%= f.label :stalk_id %>
    <%= f.collection_select(:stalk_id, @users, :id, :handle) %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
    <br />
    <br />
    <%= f.submit(:class => "btn btn-success") %>
  <% end %>

    &nbsp;
    &nbsp;





<div class="indentmessage">

<br />
<ul class="unstyled">
  <h2>You are following:</h2>
  <ul>
  <% current_user.follows.each do |follow| %>
  <li><%= follow.find_handle %></li>
  <% end %>
  <ul>
<h3>Here's what they're saying:</h3>
  <% current_user.follows.each do |follow| %>
    <% follow.find_tweets.each do |tweet| %>
      <li class="tweets"><%= tweet.user.handle %>, said: &nbsp; &nbsp;  <%= tweet.name %> at &nbsp; <%= tweet.created_at %></li>
    <% end %>
  <% end %>

</ul>


